@tailwind base;

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body,
html {
  @apply w-full h-full p-2;
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-4xl font-semibold;
}
h3 {
  @apply text-2xl font-semibold;
}
h4 {
  @apply text-xl font-semibold;
}
h5 {
  @apply text-lg;
}

.font-mono {
  font-feature-settings: "tnum" 1;
}

.indented {
  @apply pl-4;
}

@screen sm {
  .indented {
    @apply pl-6;
  }
}
.a-uppercase-info {
  @apply uppercase text-sm font-semibold tracking-wide;
}

a.link-external::after {
  content: '↗';
  @apply text-xs;
}

a.title-link,
a.title-link:visited {
  text-decoration: none;
  background-size: 0% 6px, 100% 6px;
  background-position: 0 bottom, 0 bottom;
  transition: background-size 0.3s ease-in-out;
  background-repeat: no-repeat;
  @apply pb-1;
  border-bottom: 6px solid transparent;
}
a.title-link:hover {
  background-size: 100% 6px;
}
/* a.title-link:hover::after {
  content: '→';
  @apply text-sm text-yellow-500 ml-2 pb-2;
} */
@supports (-ms-ime-align: auto) {
  a.title-link,
  a.title-link:visited {
    background-size: 0% 2px, 100% 2px;
    padding-bottom: 2px;
  }
  a.title-link:hover {
    background-size: 100% 2px;
  }
}

@tailwind components;

@tailwind utilities;
